AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 120
DerivePointerAlignment: false
IncludeBlocks: Preserve
IndentWidth: 4
Language: Cpp
PointerAlignment: Left
UseTab: Never
PenaltyBreakBeforeFirstCallParameter: 100
AlignOperands: true